::placeholder{
    font-size: 13px;

}

.container{
    height: auto;
    width: auto;
    margin-top: 7%;
    margin-left: 14%;
}

input{
    font-size: 13px; border-radius: 5%; background: whitesmoke; width:100%; height:35px; padding: 3px; align-content: center; border: none; outline: black 
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul
{   overflow-x:hidden;
    white-space:nowrap; 
    width: 100%;
    margin-top: 150px;
    height: 50px
} 

li
{   display: inline; 
    margin-bottom: 7px;
    margin-right: 16px;
}
.column {
    float: left;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
    }

    /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
    }

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    }

.sub-btn
{
    width:100%; 
    height: 50px; 
    margin-top: 20px; 
    opacity: 0.5; 
    background: black; 
    color: whitesmoke;
}