{% extends "base.html" %}
{% block content %}

<div style='margin-top: 5%; margin-left: 35%; background: white; width: 600px; height: 400px; padding: 20px; padding-bottom: 30px  ;text-align: center; border: 0.02px solid rgb(0,0,0,0.1);'>
    <!-- <img src='reddit.png' style='width: 70%; height: 75px'> -->
    <br /><br />
    <form action = "{{ url_for('main') }}" method = "POST">
        <fieldset>
            <input name = "url" onchange="gopaque(1);" type='text' placeholder="Link to the Reddit Post" style = 'text-align: center; background: rgba(236, 236, 231, 0.904) ; color: black; border: solid black; border-radius: 5%; height: 50px;' class='input' required />
            <!-- <input type='password' placeholder="Password" class='input' style='margin-top: 10px' required /> -->
            <button id='but' type="submit" class="sub-btn">
                Know the Flair!
            </button>
        </fieldset>
    &nbsp;
    </form>
    <h6 style = 'font-size: 13px; margin-top: 5px; opacity: 0.5'>
    OR
    </h6>
    <form style="text-align: center; align-content: center;" action = "/automated_testing" method="POST" enctype="multipart/form-data" name="txtfile">
        <input style="margin-left: 25%; width: auto;" type="file" name="txtf">
            <!-- <img src='768px-F_icon.svg.png' style='height:17px; width: 18px;' /> -->
        <button type = "submit" class="sub-btn">
            Upload Text File
        </button>
    </form>
</div>

<div style='padding-top:18px; margin-top: 8px; margin-left: 35%; width: 600px; text-align: center; align-content: center; background: white; border: 1px solid rgb(0,0,0,0.1);'>
    {% if pred %}
        <b>Actual Flair:</b>
        <br>
        <h3>{{ act }}</h3>
        <br>
        <b>Predicted Flair:</b>
        <br>
        <h3>{{ pred }}</h3>
    {% endif %}
</div>

<script>
    var i = 0
    function gopaque(a){
        i += Number(a)
        if(i%2!=0){
            document.getElementById('but').style.opacity=1
        }
        else{
            document.getElementById('but').style.opacity=0.5
        }
    }
</script>

{% endblock%}